// Color Variables

// Grayscale
$white: #FEFEFE;
$black: #000;
$gray: #787878;
$dark-gray: #272822;
$light-gray: #B8B8B8;

// Colors
$primary: #422B72;
$secondary: #266D98;
$accent-1: #3CB29A;
$accent-2: #C4F080;

// Typefaces
$heading: 'Lobster', cursive;
$standard: 'Roboto', sans-serif;
$action: 'Raleway', sans-serif;

// Animations
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


// Styles
body {

  div.page-cover {
    background-color: $white;
    transition: background-color 1s ease-in-out;
    width: 100%;
    height: 100vh;
  }

  div.page-cover:hover {
    background-color: rgba(0,0,0,0);
    transition: background-color 2s ease-in-out;    
  }

  div.central-container {
    display: block;
    background-color: rgba(255,255,255,0.7);
    height: calc(100vh - 60px);
    width: 940px;
    margin: 0 calc((100% - 940px) / 2);
    float: left;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    
    h1 { 
      font-family: $heading;
      color: $primary;
      font-size: 8em;
      text-align: center;
      margin: 0;
      padding: 30px;
      width: 90%;
      border-radius: 15px;
      border: 4px solid $primary;
    }

    h2 {
      font-family: $action;
      color: $dark-gray;
      font-size: 2.5em;
      font-weight: 100;
      text-align: center;
      margin: 0;
      opacity: 0;
      animation: fadeIn 2s ease-in;
      animation-fill-mode: forwards;
      animation-delay: 3s;

      span.ice-ice-baby {
        color: $secondary;
      }
    }


    ul {
      padding: 20px 0;
      display: flex;
      justify-content: space-around;
      width: 80%;
      list-style: none;
      border-radius: 15px;

      li {
        font-size: 4em;
        
        a {
          color: $primary;
        }

        a:hover {
          color: $accent-1;
        }
      }
    }
  }

  div.design-container{
    position: fixed;
    width: 50%;
    height: 100vh;
    top: 0px;
    left: 0px;
    z-index: -3;
    display: flex;
    flex-direction: column;
    
    div.color-swatch-container {
      width: 100%;
      height: 50vh;
      background-color: red;
      display: flex;
      flex-wrap: wrap;

      h2 {
        color: rgba(255,255,255,0.3);
        font-size: 4em;
        font-weight: 700;
      }
      
      div.swatch {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      div.primary{
        background-color: $primary;
        height: 25vh;
        width: 100%;
      }

      div.secondary {
        background-color: $secondary;
        height: 12.5vh;
        width: 100%;
      }

      div.accent-1 {
        background-color: $accent-1;
        height: 12.5vh;
        width: 50%;
      }
      div.accent-2 {
        background-color: $accent-2;
        height: 12.5vh;
        width: 50%;
      }
    }

    div.typeface-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: 25vh;
      
      p {
        margin: 0 0 0 20px;
      }

      div.typeface {
        width: 50%;
        font-size: 5em;
        white-space: nowrap;
        height: 12.5vh;
        display: flex;
        align-items: center;
      }

      div.main {
        width: 100%;
        background-color: $dark-gray;
        color: $white;
      }

      div.secondary {
        font-family: $heading;
        background-color: $gray;
        color: $white;
      }

      div.tertiary {
        font-family: $action;

        p {
          margin-left: 10px;
        }
      }
    }
    div.utility-icons-container {
      width: 50%;
      height: 25vh;
      position: fixed;
      bottom: 0;
      left: 0;
      background-color: $white;

      ul {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0;
        list-style: none;


        li {
          width: 25%;
          height: 12.5vh;
          font-size: auto;
          text-align: center;
          font-size: 9vh;
          
          i.fa-linux {
            color: $dark-gray;
          }

          i.fa-diamond {
            color: #a33c36;
          }

          i.fa-git {
            color: #f05134;
          }

          i.fa-css3 {
            color: $secondary;
          }

          i.fa-html5 {
            color: #e54d26;
          }
          i.fa-mobile {
            color: #a4c639;
          }

          i.fa-coffee {
            color: #452e17;
          }

          i.fa-thumbs-up {
            color: $accent-1;
          }
        }
      } 
    }
  }

  div.development-container{
    position: fixed;
    width: calc(50% - 44px);
    height: 100vh;
    top: 0px;
    right: 0px;
    z-index: -2;
    display: flex;
    flex-direction: column;
    background-color: $dark-gray;
    border-left: 4px solid $primary;
    padding: 20px;

    pre {
      overflow-x: hidden;
      overflow-y: hidden;
      color: $primary;
      margin: 0;
      
      code {
        color: $secondary;
      }
    }
  }
}
