// Color Variables

// Grayscale
$white: #FEFEFE;
$black: #000;
$gray: #787878;
$dark-gray: #272822;
$light-gray: #B8B8B8;

// Colors
$primary: #5B2971;
$secondary: #7DCE82;
$accent-1: #9974AA;
$accent-2: #00A8E8;

// Icon Colors
$ruby: #a33c36;
$html: ;
$css: ;


// Typefaces
$heading: 'Lobster', cursive;
$standard: 'Roboto', sans-serif;

body {

  div.page-cover {
    width: 100%;
    height: 100vh;
    background-image: url(../img/drops.jpg);
    background-position: center;
    background-size: cover;
    }

  div.page-cover:hover {
    background-image: none;
    
  }

  div.central-container {
    display: block;
    background-color: rgba(0,0,0,0);
    height: calc(100vh - 60px);
    width: 50%;
    margin: 0 25%;
    float: left;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    
    h1 { 
      font-family: $heading;
      text-align: center;
      color: $primary;
      margin: 0;
      font-size: 8em;
    }
  }

  div.central-container:hover {
    background-color: rgba(0,0,0,0.5)
  }

  div.design-container{
    position: fixed;
    width: 50%;
    height: 100vh;
    top: 0px;
    left: 0px;
    z-index: -3;
    display: flex;
    flex-direction: column;
    
    div.color-swatch-container {
      width: 100%;
      height: 50vh;
      background-color: red;
      display: flex;
      flex-wrap: wrap;

      h2 {
        color: rgba(0,0,0,0.2);
        font-size: 4em;
      }
      
      div.swatch {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      div.primary{
        background-color: $primary;
        height: 25vh;
        width: 100%;
      }

      div.secondary {
        background-color: $secondary;
        height: 12.5vh;
        width: 100%;
      }

      div.accent-1 {
        background-color: $accent-1;
        height: 12.5vh;
        width: 50%;
      }
      div.accent-2 {
        background-color: $accent-2;
        height: 12.5vh;
        width: 50%;
      }
    }

    div.typeface-container {
      display: flex;
      flex-direction: column;
      height: 25vh;
      
      p {
        margin: 0 0 0 20px;
      }
      div.heading-typeface {
        width: 100%;
        font-family: $heading;
        font-size: 5em;
        white-space: nowrap;
        height: 12.5vh;
      }

      div.standard-typeface {
        width: 100%;
        font-size: 5em;
        white-space: nowrap;
        height: 12.5vh;
      }
    }
    div.utility-icons-container {
      width: 100%;
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 0;
      background-color: $white;

      ul {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0;
        list-style: none;

        li {
          width: 25%;
          font-size: 6em;
          text-align: center;

          i.fa-diamond {
            color: #a33c36;
          }

          i.fa-git {
            color: #f05134;
          }

          i.fa-css3 {
            color: #0c73b8;
          }

          i.fa-html5 {
            color: #e54d26;
          }
          i.fa-mobile {
            color: #99cc33;
          }

          i.fa-coffee {
            color: #452e17;
          }
        }
      } 
    }
  }

  div.development-container{
    position: fixed;
    width: 50%;
    height: 100vh;
    top: 0px;
    right: 0px;
    z-index: -2;
    display: flex;
    flex-direction: column;
    background-color: $dark-gray;
    border-left: 2px solid $primary;

    pre {
      white-space: wrap;
      color: $white;
      
      code {
        color: $white;
        white-space: wrap;
      }
    }
  }
}


















