// Color Variables

// Grayscale
$white: #FEFEFE;
$black: #000;
$gray: #787878;
$dark-gray: #4D4D3D;
$light-gray: #B8B8B8;

// Colors
$primary: ;
$secondary: ;
$accent-1: ;
$accent-2: ;

// Typefaces
$heading: ;
$standard: ;

