@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
ul {
  list-style: none;
  padding: 0; }

div.page-cover {
  background-color: #FEFEFE;
  transition: background-color 1s ease-in-out;
  width: 100%;
  height: 100vh; }

div.page-cover:hover {
  background-color: transparent;
  transition: background-color 2s ease-in-out; }

div.central-container {
  display: block;
  background-color: rgba(255, 255, 255, 0.7);
  height: calc(100vh - 60px);
  width: 940px;
  margin: 0 25%;
  margin: 0 calc((100% - 1000px) / 2);
  float: left;
  color: #FEFEFE;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px; }
  div.central-container h1 {
    height: 160px;
    font-family: "Lobster", cursive;
    color: #422B72;
    font-size: 8em;
    text-align: center;
    margin: 0;
    padding: 30px;
    width: 90%;
    border-radius: 15px;
    border: 4px solid #422B72; }
  div.central-container h2 {
    height: 47px;
    font-family: "Raleway", sans-serif;
    color: #272822;
    font-size: 2.5em;
    font-weight: 100;
    text-align: center;
    margin: 0;
    opacity: 0;
    animation: fadeIn 2s ease-in;
    animation-fill-mode: forwards;
    animation-delay: 3s; }
    div.central-container h2 span.ice-ice-baby {
      color: #266D98; }
  div.central-container ul {
    height: 74px;
    display: flex;
    justify-content: space-around;
    width: 80%;
    list-style: none;
    border-radius: 15px;
    margin: 0 0 20px 0;
    padding: 0; }
    div.central-container ul li {
      font-size: 4em;
      margin: 0; }
      div.central-container ul li a {
        color: #422B72; }
      div.central-container ul li a:hover {
        color: #3CB29A; }

div.design-container {
  position: fixed;
  width: 35%;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: -4;
  display: flex;
  flex-direction: column; }
  div.design-container div.color-swatch-container {
    width: 100%;
    height: 50vh;
    background-color: red;
    display: flex;
    flex-wrap: wrap; }
    div.design-container div.color-swatch-container h2 {
      color: rgba(255, 255, 255, 0.3);
      font-size: 4em;
      font-weight: 700; }
    div.design-container div.color-swatch-container div.swatch {
      display: flex;
      align-items: center;
      justify-content: center; }
    div.design-container div.color-swatch-container div.primary {
      background-color: #422B72;
      height: 25vh;
      width: 100%; }
    div.design-container div.color-swatch-container div.secondary {
      background-color: #266D98;
      height: 12.5vh;
      width: 100%; }
    div.design-container div.color-swatch-container div.accent-1 {
      background-color: #3CB29A;
      height: 12.5vh;
      width: 50%; }
      div.design-container div.color-swatch-container div.accent-1 h2 {
        font-size: 2.8em; }
    div.design-container div.color-swatch-container div.accent-2 {
      background-color: #C4F080;
      height: 12.5vh;
      width: 50%; }
      div.design-container div.color-swatch-container div.accent-2 h2 {
        font-size: 2.8em; }
  div.design-container div.typeface-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 25vh; }
    div.design-container div.typeface-container p {
      margin: 0 0 0 20px; }
    div.design-container div.typeface-container div.typeface {
      width: 50%;
      font-size: 5em;
      white-space: nowrap;
      height: 12.5vh;
      display: flex;
      align-items: center; }
    div.design-container div.typeface-container div.main {
      width: 100%;
      background-color: #272822;
      color: #FEFEFE; }
    div.design-container div.typeface-container div.secondary {
      font-family: "Lobster", cursive;
      background-color: #787878;
      color: #FEFEFE; }
    div.design-container div.typeface-container div.tertiary {
      font-family: "Raleway", sans-serif; }
      div.design-container div.typeface-container div.tertiary p {
        margin-left: 10px; }
  div.design-container div.utility-icons-container {
    width: 35%;
    height: 25vh;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #FEFEFE; }
    div.design-container div.utility-icons-container ul {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 0;
      list-style: none; }
      div.design-container div.utility-icons-container ul li {
        width: 25%;
        height: 12.5vh;
        font-size: auto;
        text-align: center;
        font-size: 9vh; }
        div.design-container div.utility-icons-container ul li i.fa-linux {
          color: #272822; }
        div.design-container div.utility-icons-container ul li i.fa-diamond {
          color: #a33c36; }
        div.design-container div.utility-icons-container ul li i.fa-git {
          color: #f05134; }
        div.design-container div.utility-icons-container ul li i.fa-css3 {
          color: #266D98; }
        div.design-container div.utility-icons-container ul li i.fa-html5 {
          color: #e54d26; }
        div.design-container div.utility-icons-container ul li i.fa-mobile {
          color: #a4c639; }
        div.design-container div.utility-icons-container ul li i.fa-coffee {
          color: #452e17; }
        div.design-container div.utility-icons-container ul li i.fa-thumbs-up {
          color: #3CB29A; }

div.wireframe-container {
  width: 65%;
  height: calc(100vh - 50px);
  position: fixed;
  top: 0px;
  right: 0px;
  background-color: #FEFEFE;
  z-index: -3;
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  div.wireframe-container p {
    margin: 0; }
  div.wireframe-container div.frame {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    width: 46.153%;
    background-color: #D8D8D8;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: repeating-linear-gradient(-55deg, #787878, #787878 10px, #D8D8D8 10px, #D8D8D8 20px); }
    div.wireframe-container div.frame h3 {
      font-size: 2vw;
      margin: 0; }
  div.wireframe-container div.logo {
    height: 237px;
    justify-content: space-between; }
    div.wireframe-container div.logo h3 {
      font-size: 3em; }
    div.wireframe-container div.logo ul {
      font-size: 1.2em; }
  div.wireframe-container div.action {
    height: 47px; }
  div.wireframe-container div.contact {
    height: 70px;
    margin: 0 0 26px 0; }
  div.wireframe-container div.frame-description {
    height: 13vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: calc(46.153% - 50px);
    padding: 10px;
    margin-left: 15px;
    font-size: 0.9em;
    border-left: 1px solid #000;
    border-right: 1px solid #000; }
    div.wireframe-container div.frame-description ul {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin: 0; }
      div.wireframe-container div.frame-description ul li {
        width: 50%;
        display: inline-block;
        margin-top: 5px; }
    div.wireframe-container div.frame-description div.description-child {
      text-align: left;
      color: #272822;
      width: calc(100% - 10px); }

div.development-container {
  position: fixed;
  width: calc(35% - 40px);
  height: 100vh;
  top: 0px;
  right: 0px;
  z-index: -2;
  display: flex;
  flex-direction: column;
  background-color: #272822;
  color: #FEFEFE;
  padding: 20px; }
  div.development-container pre {
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0; }

/*# sourceMappingURL=main.css.map */
