
@media screen and (max-width: 1000px) {

  div.page-cover {
    display: none;
  }

  div.central-container{
    width: calc(100% - 40px);
    margin: 0;
    padding: 20px;
    height: 500px;
    justify-content: space-around;
    float: none;

    h1 {
      font-size: 12vw;
      width: auto;
      padding: 0;
      height: auto;
      padding: 20px;
    }

    h2 {
      font-size: 2em;
      height: auto;
      animation: none;
      opacity: 1;
    }
  }
  
  div.design-container {
    display: block;
    position: relative;
    width: 100%;
    height: auto;

    div.color-swatch-container {
      width: 100%;
      height: auto;
      background-color: red;
      display: flex;
      flex-wrap: wrap;

      
      
      div.swatch {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 65px;
        width: 50%;
          
          h2 {
          color: rgba(255,255,255,0.3);
          font-size: 7vw;
          font-weight: 700;
        }
      }
    }
    
    div.typeface-container {
      height: auto;

      div.typeface {
        font-size: 4vw;
        white-space: wrap;
        width: 100%;
      }

      div.tertiary p {
          margin: 0 0 0 20px;
        }
    }

    div.utility-icons-container {
      position: relative;
      width: 100%;
      height: auto;
      ul {
        li {
          font-size: 10vw;
        }
      }  
    }
  }
  
  div.wireframe-container {
    display: none;
  }
  div.development-container {
    display: block;
    position: relative;
    width: calc(100% - 40px);
    height: 400px;

    pre {
      height: 400px;
    }
  }

  div.mobile-contact {
    display: flex;
  }
}